@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Không có quyền hạn truy cập";
}



<section class="container">
    <div class="auth-form-box">
        <h1 class="text-center text-danger">Bạn không đủ quyền hạn để truy cập trang này</h1>
        
     </div>
     
</section>
