@page
@model ConfirmEmailModel
@{
    ViewData["Title"] = "Xác nhận email thành công";
}



<section class="container">
    <div class="auth-form-box">
        <h1 class="text-center text-success">Chúc mừng bạn đã xác nhận tài khoản thành công</h1>

    </div>

</section>
