@page
@model ForgotPasswordModel
@{
    ViewData["Title"] = "Quên mật khẩu";
}



<section class="container">
    <div class="auth-form-box">
        <h3 class="text-center">Quên mật khẩu</h3>

        <form  method="POST">
            <div class="form-group">
                <input asp-for="Input.Email" type="email" class="form-control form-control-lg"  placeholder="Email của bạn">
            </div>

            <button class="btn btn-primary btn-block" id="btnLogin">Lấy lại mật khẩu</button>
            <span asp-validation-for="Input.Email" class="text-danger"></span>

        </form>

    </div>
</section>






@*<h2>enter your email.</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="modelonly" class="text-danger"></div>
            <div class="form-floating">
                <input  class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="input.email" class="form-label"></label>
                <span asp-validation-for="input.email" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">reset password</button>
        </form>
    </div>
</div>*@

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
