@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Reset password";
}



<section class="container">
    <div class="auth-form-box">
        <form method="POST">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <input asp-for="Input.Code" type="hidden" />

            <div class="form-group">
                <input asp-for="Input.Email" type="email" aria-required="true" class="form-control form-control-lg" placeholder="Email của bạn">
                <span asp-validation-for="Input.Email" class="text-danger"></span>

            </div>
            <div class="form-group">
                <input asp-for="Input.Password" type="password" aria-required="true" class="form-control form-control-lg" placeholder="Mật khẩu mới">
                <span asp-validation-for="Input.Password" class="text-danger" ></span>

            </div>
            <div class="form-group">
                <input asp-for="Input.ConfirmPassword" type="password" aria-required="true"  class="form-control form-control-lg" placeholder="Nhập lại mật khẩu">
                <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>

            </div>

            <button class="btn btn-primary btn-block" id="btnLogin">Thay đổi mật khẩu</button>
            <span asp-validation-for="Input.Email" class="text-danger"></span>

        </form>

    </div>
</section>


    @*    <form method="post">
            <div asp-validation-summary="modelonly" class="text-danger"></div>
            <input asp-for="input.code" type="hidden" />
            <div class="form-floating">
                <input asp-for="input.email" class="form-control" autocomplete="username" aria-required="true" />
                <label asp-for="input.email" class="form-label"></label>
                <span asp-validation-for="input.email" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="input.password" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="input.password" class="form-label"></label>
                <span asp-validation-for="input.password" class="text-danger"></span>
            </div>
            <div class="form-floating">
                <input asp-for="input.confirmpassword" class="form-control" autocomplete="new-password" aria-required="true" />
                <label asp-for="input.confirmpassword" class="form-label"></label>
                <span asp-validation-for="input.confirmpassword" class="text-danger"></span>
            </div>
            <button type="submit" class="w-100 btn btn-lg btn-primary">reset</button>
        </form>*@


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
