.category-box {
  display: inline-block;
  margin: 3rem 2rem;
  text-align: center;
}

.category-box .category-img {
  margin: auto;
  width: 100px;
  height: 120px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 15px 0px;
  transition: all 0.5s ease;
}

.category-box .category-name {
    margin: 1rem 0;
    font-size: 12px;
    font-weight: bold;
    color: #8D99AE;
}

.category-box:hover .category-img {
  transform: scale(1.05);
}

.category-box:hover .category-name {
  color: var(--main-color);
}

#product-main-img .product-preview img {
  margin: auto;
  width: 320px;
  height: 450px;
  border-radius: 10px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 15px 0px;
}

#product-imgs .product-preview {
  padding: 5px;
}

#product-imgs .product-preview img {
  margin: auto;
  width: 80px;
  height: 110px;
}


