


<div class="row">
    <div class="col-md-12">
        <div class="form-group row">
            <label class="col-sm-5 col-form-label">Hình mô tả</label>
            <div class="col-sm-12">
                <input type="file" class="form-control" name="images" />
            </div>
            @foreach (var item in ViewBag.BookImages)
            {
                <img  src="@item.image"/>
            }
        </div>
    </div>

    <div class="col-md-6">

        <img />


    </div>

</div>